{% extends 'base.html' %}

{% block title %}Update Task: {{ task.title }}{% endblock %}

{% block content %}
    <form method="POST" class="container__form-operation">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="submit" value="submit">
    </form>


    <div class="container__back-to-task">
        <a href="{% url 'base:task' task.id %}">
            <i class="bi bi-arrow-return-left"> Task: {{ task.title }}</i>
        </a>
    </div>
    <div class="container__back-to-main-page">
        <a href="{% url 'base:tasks' %}">
            <i class="bi bi-arrow-left"> Main page</i>
        </a>
    </div>
{% endblock %}